<!--<div class="jumbotron bg-dark-secondary">-->
<!--    <h1>NWSUpdater</h1>-->
<!--    <h3>Get notified of severe weather in your area.</h3>-->
<!--</div>-->

<div class="jumbotron bg-dark-secondary">

    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <img class="w-100" src="image/titlelogo.png">
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h3 class="text-center">Get notified of severe weather in your area</h3>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>

<div class="row p-5">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <button class="btn btn-info p-3 rounder w-100" ng-click="getHome()">Login</button>
    </div>
    <div class="col-lg-1"></div>
</div>

<div class="row pt-0 pl-5 pr-5 pb-5">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <h1>Developers</h1>
    </div>
    <div class="col-lg-1"></div>
</div>

<div class="row pt-0 pl-5 pr-5 pb-3">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
        <div class="card bg-dark-secondary">
            <div class="card-header text-center">
                <h2>Jasper Reddin</h2>
            </div>
            <div class="card-body">
                <img class="w-100" src="image/jasper.jpg">
            </div>
            <div class="card-footer">
                <a href="#!/jasperreddin" class="btn btn-dark-secondary w-100">Resume</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card bg-dark-secondary">
            <div class="card-header text-center">
                <h2>Longtin Hang</h2>
            </div>
            <div class="card-body">
                <img class="w-100" src="image/longtin.jpg">
            </div>
            <div class="card-footer">
                <a href="#!/longtinhang" class="btn btn-dark-secondary w-100">Resume</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="row pt-5 pl-5 pr-5 pb-3">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <h1>Stack</h1>
    </div>
    <div class="col-lg-1"></div>
</div>

<div class="row pt-3 pl-5 pr-5 pb-3">
    <div class="col-lg-1"></div>
    <div class="row col-10">
        <div class="col-4">
            <h3>Back End</h3>
            <ul>
                <li>Java</li>
                <li>Apache Tomcat</li>
                <li>Glassfish Jersey</li>
                <li>FasterXML Jackson</li>
                <li>JSON</li>
                <li>RESTful API</li>
                <li>MariaDB</li>
                <li>SQL</li>
                <li>JDBC</li>
                <li>AWS Simple Notification Services</li>
                <li>National Weather Service RESTful API</li>
                <li>GooLNK Link Shortening RESTful API</li>
            </ul>
        </div>
        <div class="col-4">
            <h3>Front End</h3>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>jQuery</li>
                <li>Bootstrap</li>
                <li>AngularJS</li>
                <li>Mapbox</li>
            </ul>
        </div>
        <div class="col-4">
            <h3>Development Tools</h3>
            <ul>
                <li>Eclipse</li>
                <li>Jetbrains IntelliJ IDEA Ultimate</li>
                <li>Git</li>
                <li>GitHub</li>
                <li>AWS Elastic Beanstalk</li>
                <li>Google Cloud Platform</li>
                <li>HeidiSQL</li>
            </ul>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>