<!--<div class="jumbotron bg-dark-secondary">-->
<!--    <h1>NWSUpdater</h1>-->
<!--    <h3>Get notified of severe weather in your area.</h3>-->
<!--</div>-->

<div class="jumbotron bg-dark-secondary">

    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <img class="w-100" src="image/titlelogo.png">
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h3 class="text-center">Get notified of severe weather in your area</h3>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>



<div class="row pt-3">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <button class="btn btn-secondary p-3 rounder w-100" ng-click="getHome()">Login</button>
    </div>
    <div class="col-lg-1"></div>
</div>

<div class="row pt-3">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <h1>Developers</h1>
        <p>Jasper Reddin</p>
        <p>Longtin Hang</p>
    </div>
    <div class="col-lg-1"></div>
</div>