.text-danger-light {
    color: #ffd3c1
}

.bg-darkblue {
    background: #162127;
}

.bg-dark-secondary {
    background: #7D8285;
}

.bg-darkgrey {
    background: #373737;
}

.bg-weather-image {
    background: url('../image/newLocationBackground2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-title-text {
    font-size: 1.75rem;
}

.btn-dark-secondary {
    color: white;
    background-color: #3d5368;
    border-color: #3d5368;
}