.forecast-section {
    margin: 0px 0 30px;
}

.forecast-section .forecast {
    position: relative;
    padding: 10px 10%;
    border-radius: 20px 60px;
    background: #fff;
    color: #53627c;
}

.forecast-section .forecast::after {
    content: '';
    width: 90%;
    height: 20px;
    position: absolute;
    bottom: -12px;
    left: 5%;
    z-index: -1;
    opacity: 0.3;
    border-radius: 20px 60px;
    background: #fff;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.forecast-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.forecast-img {
    flex-grow: 1;
}

.forecast-section .short-forecast {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.forecast-section .forecast-temp {
    font-size: 3em;
    font-weight: bold;
    margin: 0px;
    color: #1e2432;
    flex-grow: 1;
}

.forecast-section .forecast sup {
    font-size: 0.5em;
}

.forecast-section .weekday {
    font-size: 1.5em;
}

.forecast-section .weekday sup {
    padding: 0.2em 0.6em;
    border-radius: 30px;
    color: #fff;
    background: #ff8c00;
}

.forecast-section .forecast-icon {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}