.ajax-section {
  margin: 0px 0 30px;
}
 
.ajax-section .city {
  position: relative;
  padding: 40px 10%;
  border-radius: 20px;
  background: white;
  color: black;
}
 
.ajax-section .city::after {
  content: '';
  width: 90%;
  height: 50px;
  position: absolute;
  bottom: -12px;
  left: 5%;
  z-index: -1;
  opacity: 0.3;
  border-radius: 20px;
  background: white;
}
 
.ajax-section figcaption {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
 
.ajax-section .city-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: black;
}
 
.ajax-section .city sup {
  font-size: 0.5em;
}
 
.ajax-section .city-name sup {
  padding: 0.2em 0.6em;
  border-radius: 30px;
  color: white;
  background: orange;
}
 
.ajax-section .city-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}